
body {
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/c/c3/NGC_4414_%28NASA-med%29.jpg");
}
 #nav, #footer {
   background-color: #FCC8C2;
}
 #feature {
   background-color: #F5ECCD;
}
  
