
.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.html {
  display: inline-block;
  background-image: url('https://user-images.githubusercontent.com/122185308/218283534-d01c0999-1712-46bd-8bf8-3400cca93445.JPG');
  background-repeat: no-repeat;
  color: #fcf4c2;
  background-size: 300px;
  width: 400px;
  height:400px;
  border: 1px solid;
  padding: 1rem 1rem;
  vertical-align: middle;
  
}

.css {
  display: inline-block;
  width: 50%;
  border: 1px solid;
  font-size: 18.72px;
  padding: 1rem 1rem;
  vertical-align: middle;
}
