
.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px solid red;
  font-size: 18.72px;
  padding: 1rem 1rem;
  vertical-align: middle;
}
